section {
    .news-container {
        .news {
            background-size: cover;
            width: 700px;
            height: auto;

            @screen sm {
                height: 300px;
            }

            .summary {
                transition: all 0.5s ease-in-out;
                max-height: 300px;

                @screen sm {
                    max-height: 0;
                }
            }

            &:hover {
                .summary {
                    max-height: 300px;
                }
            }
        }
    }
}
